---
- name: Test connection and run command
  hosts: myhosts
  gather_facts: true
  vars_files:
    - password.yml
  tasks:
    - name: Copy file with remote_src
      copy:
        src: ~/password.yml
        dest: /var/lib/awx/projects/_12__github_playbook/password.yml
        mode: '0600'
        remote_src: yes
  tasks:
    - name: Ping test
      ping:
    - name: Run command
      command: cat /etc/os-release
      register: os_release
    - name: Print OS details
      debug:
        var: os_release.stdout_lines
